extends layout

block content
  h3 Muiden Postaukset

  ul
  each post in post_list
    li #{post.author}: #{post.content}

  else
    h6 Muut eivät ole vielä postanneet mitään :/

  h3 Tee Uusi Postaus
  form(method='POST' action='/posts/create')
            div.form-group

              label(for='name') Käyttäjänimesi:
              input#name.form-control(value=User, type='text', placeholder='Nimesi' name='author')
  
            div.form-group
              label(for='content') Postattava tekstisi:  
              input#content.form-control(type='text',placeholder='Tekstisi' name='content')
            button.btn.btn-primary(type='submit') Postaa kirjotus

