body {
  background: #00acee;
}
h1 {
  color: white;
  font-family: Helvetica;
}
h3 {
  color: white;
  font-family: Helvetica;
}
h4 {
  color: white;
  font-family: Helvetica;
}
h5 {
  color: white;
  font-family: Helvetica;
}
h6 {
  color: white;
  font-family: Helvetica;
}
a {
  color: white;
  font-family: Helvetica;
}
li {
  color: white;
}
